.clear
	clear both

.media
	float left
	&.reverse
		float right
	&.n1
		width 100%
	&.n2
		width 50%
		&.center
			margin-left 25%
			margin-right 25%
	&.n3
		width 33.3333333%
	&.n4
		width 25%
	&.n5
		width 20%
	&.n6
		width 16.66666666%
	&.n7
		width 14.285714285%
	&.n8
		width 12.5%
	&.n9
		width 11.11111111%
	&.n10
		width 10%
	&.n34
		width 75%
	&.n23
		width 66.666666666%
	@media only screen and (max-width:1200px)
		&.b1
			width 100%
		&.b2
			width 50%
			&.center
				margin-left 25%
				margin-right 25%
		&.b3
			width 33.3333333%
		&.b4
			width 25%
		&.b5
			width 20%
		&.b6
			width 16.66666666%
		&.b7
			width 14.285714285%
		&.b8
			width 12.5%
		&.b9
			width 11.11111111%
		&.b10
			width 10%
	@media only screen and (max-width:960px)
		&.m1
			width 100%
		&.m2
			width 50%
			&.center
				margin-left 25%
				margin-right 25%
		&.m3
			width 33.3333333%
		&.m4
			width 25%
		&.m5
			width 20%
		&.m6
			width 16.66666666%
		&.m7
			width 14.285714285%
		&.m8
			width 12.5%
		&.m9
			width 11.11111111%
		&.m10
			width 10%
	@media only screen and (max-width: 768px)
		&.p1
			width 100%
		&.p2
			width 50%
			&.center
				margin-left 25%
				margin-right 25%
		&.p3
			width 33.3333333%
		&.p4
			width 25%
		&.p5
			width 20%
		&.p6
			width 16.66666666%
		&.p7
			width 14.285714285%
		&.p8
			width 12.5%
		&.p9
			width 11.11111111%
		&.p10
			width 10%
		&.p34
			width 75%
			&.center
				margin-left 12.5%
				margin-right 12.5%
	@media only screen and (max-width:480px)
		&.t1
			width 100%
		&.t2
			width 50%
			&.center
				margin-left 25%
				margin-right 25%
		&.t3
			width 33.3333333%
		&.t4
			width 25%
		&.t5
			width 20%
		&.t6
			width 16.66666666%
		&.t7
			width 14.285714285%
		&.t8
			width 12.5%
		&.t9
			width 11.11111111%
		&.t10
			width 10%
		&.t34
			width 75%
			&.center
				margin-left 12.5%
				margin-right 12.5%